<!-- content -->
<div id="content" class="app-content" role="main">
    <div class="box">
        <!-- Content Navbar -->
        <div class="navbar md-whiteframe-z1 no-radius blue">
            <!-- Open side - Naviation on mobile -->
            <a md-ink-ripple data-toggle="modal" data-target="#aside" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>

            <!-- Page title - Bind to $state's title -->
            <div class="navbar-item pull-left h4">Niveau</div>

            <!-- / -->
            <!-- Common tools -->
            <ul class="nav nav-sm navbar-tool pull-right">
                <li>
                    <a md-ink-ripple ui-toggle-class="show" target="#search">
                        <i class="mdi-action-search i-24"></i>
                    </a>
                </li>
            </ul>
            <div class="pull-right" ui-view="navbar@"></div>
            <!-- / -->
            <!-- Search form -->
            <div id="search" class="pos-abt w-full h-full blue hide">
                <div class="box">
                    <div class="box-col w-56 text-center">
                        <!-- hide search form -->
                        <a md-ink-ripple class="navbar-item inline" ui-toggle-class="show" target="#search"><i class="mdi-navigation-arrow-back i-24"></i></a>
                    </div>
                    <div class="box-col v-m">
                        <!-- bind to app.search.content -->
                        <input class="form-control input-lg no-bg no-border" placeholder="Rechercher" ng-model="app.search.content">
                    </div>
                    <div class="box-col w-56 text-center">
                        <a md-ink-ripple class="navbar-item inline"></a>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
        <!-- Content -->

        <div class="box-row">
            <div class="box-cell">
                <div class="box-inner padding">


                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <p-dataTable emptyMessage="Aucun élément à afficher." [(selection)]="selectedNiveau" class="table table-striped no-margin"
                                selectionMode="single" dataKey="id" [value]="niveaus" [rows]="10" [paginator]="true" #dt>
                                <p-header>Liste des niveaux</p-header>
                                <p-column header="No" [style]="{'width':'5%'}">
                                    <ng-template let-ri="rowIndex" pTemplate="body">
                                        {{ri+1}}
                                    </ng-template>
                                </p-column>
                                <p-column field="libele" header="Libélé" [sortable]="true" [filter]="true" filterPlaceholder="Rechercher"></p-column>
                                <p-column field="level" header="Niveau" [sortable]="true" [filter]="true" filterPlaceholder="Rechercher"></p-column>
                                <p-column field="section.libele" header="Section" [sortable]="true" [filter]="true" filterPlaceholder="Rechercher"></p-column>
                                <p-column [style]="{'width':'33%'}" styleClass="col-button">
                                    <ng-template pTemplate="header">
                                        Actions
                                    </ng-template>
                                    <ng-template let-selected="rowData" pTemplate="body">
                                        <button class="ui-button-info" type="button" pButton (click)="showDialogDetails(selected)" icon="fa-eye" label="Détails"></button>
                                        <button type="button" pButton (click)="showDialogToEdit(selected)" icon="fa-edit" label="Modifier"></button>
                                        <button class="ui-button-danger" type="button" pButton (click)="delete(selected)" icon="fa-trash-o" label="Supprimer"></button>
                                    </ng-template>
                                </p-column>
                                <p-footer>
                                    <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()"
                                            label="Ajouter"></button></div>
                                </p-footer>
                            </p-dataTable>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / content -->



<p-dialog header="Ajout d'un niveau" [(visible)]="displayAddDialog" [responsive]="true" width="500" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="newNiveau">
        <form class="form form-validate floating-label" name="form" (ngSubmit)="f.form.valid && create(f);" #f="ngForm" novalidate>
            <md-card>
                <md-card-content>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label>Section:</label></div>
                        <div class="ui-grid-col-8">
                            <p-dropdown required name='section' [options]="sections" [(ngModel)]="newNiveau.section.id" [style]="{'width':'250px'}" filter="filter">
                                <ng-template let-niv pTemplate="item">
                                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                        <div style="font-size:14px;margin-top:4px">Section {{niv.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <md-input-container style="width:100%">
                        <input mdInput placeholder="Libelé" name="libele" [(ngModel)]="newNiveau.libele" required>
                        <md-error>Le libelé est obligatoire</md-error>
                        <md-hint align="end">exemple: SIL</md-hint>
                    </md-input-container>

                    <md-input-container style="width:100%">
                        <input type="number" mdInput placeholder="Niveau" name="level" [(ngModel)]="newNiveau.level" required>
                        <md-error>Le niveau est obligatoire</md-error>
                        <md-hint align="end">exemple: 2</md-hint>
                    </md-input-container>


                </md-card-content>
                <!--end .card-body -->
                <md-card-actions>
                    <button md-raised-button (click)="cancel()">Annuler</button>
                    <button md-raised-button color='primary' type="submit">Enregister</button>
                </md-card-actions>
                <!--end .card-actionbar -->
            </md-card>
        </form>
    </div>
</p-dialog>


<p-dialog header="Modification d'un niveau" [(visible)]="displayEditDialog" [responsive]="true" width="500" showEffect="fade"
    [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selected.section">
        <form class="form form-validate floating-label" name="form" (ngSubmit)="fe.form.valid && update()" #fe="ngForm" novalidate>
            <md-card>
                <md-card-content>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label for="etab">Section:</label></div>
                        <div class="ui-grid-col-8">
                            <p-dropdown required name='section' [options]="sections" [(ngModel)]="selected.section.id" [style]="{'width':'250px'}" filter="filter">
                                <ng-template let-niv pTemplate="item">
                                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                        <div style="font-size:14px;margin-top:4px">Section {{niv.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <md-input-container style="width:100%">
                        <input mdInput placeholder="Libélé" name="libele" [(ngModel)]="selected.libele" required>
                        <md-error>Le libélé est obligatoire</md-error>
                        <md-hint align="end">exemple: SIL</md-hint>
                    </md-input-container>

                    <md-input-container style="width:100%">
                        <input type="number" mdInput placeholder="Niveau" name="level" [(ngModel)]="selected.level" required>
                        <md-error>Le niveau est obligatoire</md-error>
                        <md-hint align="end">exemple: 2</md-hint>
                    </md-input-container>

                </md-card-content>
                <!--end .card-body -->
                <md-card-actions>
                    <button md-raised-button (click)=" cancel()">Annuler</button>
                    <button md-raised-button color='primary' type="submit">Modifier</button>
                </md-card-actions>
                <!--end .card-actionbar -->
            </md-card>
        </form>
    </div>
</p-dialog>

<p-dialog header="Détails sur un niveau" [(visible)]="displayDetailDialog" [responsive]="true" width="500" showEffect="fade"
    [modal]="true">
    <div *ngIf="selected.section.etablissement">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>Libélé:</label></div>
            <div class="ui-grid-col-8"><label>{{selected.libele}}</label></div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>Niveau:</label></div>
            <div class="ui-grid-col-8"><label>{{selected.level}}</label></div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>Section:</label></div>
            <div class="ui-grid-col-8"><label>{{selected.section.libele}}</label></div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>Etablissement:</label></div>
            <div class="ui-grid-col-8"><label>{{selected.section.etablissement.sigle}}</label></div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)=" close()" label="Fermer"></button>
            </div>
        </p-footer>
    </div>
</p-dialog>