<!-- content -->
<div id="content" class="app-content" role="main">
    <div class="box">
        <!-- Content Navbar -->
        <div class="navbar md-whiteframe-z1 no-radius blue">
            <!-- Open side - Naviation on mobile -->
            <a md-ink-ripple data-toggle="modal" data-target="#aside" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>

            <!-- Page title - Bind to $state's title -->
            <div class="navbar-item pull-left h4">Module</div>

            <!-- / -->
            <!-- Common tools -->
            <ul class="nav nav-sm navbar-tool pull-right">
                <li>
                    <a md-ink-ripple ui-toggle-class="show" target="#search">
                        <i class="mdi-action-search i-24"></i>
                    </a>
                </li>
            </ul>
            <div class="pull-right" ui-view="navbar@"></div>
            <!-- / -->
            <!-- Search form -->
            <div id="search" class="pos-abt w-full h-full blue hide">
                <div class="box">
                    <div class="box-col w-56 text-center">
                        <!-- hide search form -->
                        <a md-ink-ripple class="navbar-item inline" ui-toggle-class="show" target="#search"><i class="mdi-navigation-arrow-back i-24"></i></a>
                    </div>
                    <div class="box-col v-m">
                        <!-- bind to app.search.content -->
                        <input class="form-control input-lg no-bg no-border" placeholder="Rechercher" ng-model="app.search.content">
                    </div>
                    <div class="box-col w-56 text-center">
                        <a md-ink-ripple class="navbar-item inline"></a>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
        <!-- Content -->

        <div class="box-row">
            <div class="box-cell">
                <div class="box-inner padding">

                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <p-dataTable emptyMessage="Aucun élément à afficher." [(selection)]="selectedMod" class="table table-striped no-margin" selectionMode="single"
                                dataKey="id" [value]="modules" [rows]="10" [paginator]="true" #dt>
                                <p-header>Liste des modules</p-header>
                                <p-column header="No" [style]="{'width':'5%'}">
                                    <ng-template let-ri="rowIndex" pTemplate="body">
                                        {{ri+1}}
                                    </ng-template>
                                </p-column>
                                <p-column field="credit" header="Coefficient" [sortable]="true" [filter]="true" filterPlaceholder="Rechercher"></p-column>
                                <p-column field="code" header="Code" [sortable]="true" [filter]="true" filterPlaceholder="Rechercher"></p-column>
                                <p-column field="classe.niveau.libele" header="Classe" [sortable]="true" [filter]="true" filterPlaceholder="Rechercher">
                                    <ng-template let-col="rowData" pTemplate="body">
                                        <span>{{col.classe.niveau.libele}} {{col.classe.serie}}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="annee.libele" header="Année académique" [sortable]="true" [filter]="true" filterPlaceholder="Rechercher"></p-column>

                                <p-column [style]="{'width':'33%'}" styleClass="col-button">
                                    <ng-template pTemplate="header">
                                        Actions
                                    </ng-template>
                                    <ng-template let-selected="rowData" pTemplate="body">
                                        <button class="ui-button-info" type="button" pButton (click)="showDialogDetails(selected)" icon="fa-eye" label="Détails"></button>
                                        <button type="button" pButton (click)="showDialogToEdit(selected)" icon="fa-edit" label="Modifier"></button>
                                        <button class="ui-button-danger" type="button" pButton (click)="delete(selected)" icon="fa-trash-o" label="Supprimer"></button>
                                    </ng-template>

                                </p-column>
                                <p-footer>
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-6">
                                            <button type="button" pButton icon="fa-plus" style="float: left" (click)="showDialogToAdd()" label="Ajouter"></button>
                                        </div>
                                   </div>
                                </p-footer>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / content -->

<p-dialog header="Ajout d'un module" [(visible)]="displayAddDialog" [responsive]="true" width="500" showEffect="fade"
    [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="newMod">
        <form class="form form-validate floating-label" name="form" (ngSubmit)="f.form.valid && create(f);" #f="ngForm" novalidate>
            <md-card>
                <md-card-content>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label>Section:</label></div>
                        <div class="ui-grid-col-8">
                            <p-dropdown (onChange)="onChange($event)" required name='section' [options]="sections" [(ngModel)]="sectionId" [style]="{'width':'100%'}"
                                filter="filter">
                                <ng-template let-etab pTemplate="item">
                                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                        <div style="font-size:14px;margin-top:4px">{{etab.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label>Classe:</label></div>
                        <div class="ui-grid-col-8">
                            <p-dropdown required name='classe' [options]="classes" [(ngModel)]="newMod.classe.id" [style]="{'width':'100%'}" filter="filter">
                                <ng-template let-etab pTemplate="item">
                                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                        <div style="font-size:14px;margin-top:4px">{{etab.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label>Année académique:</label></div>
                        <div class="ui-grid-col-8">
                            <p-dropdown required name='annee' [options]="annees" [(ngModel)]="newMod.annee.id" [style]="{'width':'100%'}" filter="filter">
                                <ng-template let-etab pTemplate="item">
                                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                        <div style="font-size:14px;margin-top:4px">{{etab.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <md-input-container style="width:100%">
                        <input type="number" mdInput placeholder="Coefficient" name="credit" [(ngModel)]="newMod.credit" required>
                        <md-error>Le coefficient est obligatoire</md-error>
                    </md-input-container>

                    <md-input-container style="width:100%">
                        <input mdInput placeholder="Code" name="code" [(ngModel)]="newMod.code" required>
                        <md-error>Le code est obligatoire</md-error>
                        <md-hint align="end">le code du module, ex: EN 120</md-hint>
                    </md-input-container>
                
                </md-card-content>
                <md-card-actions>
                    <button md-raised-button (click)="cancel()">Annuler</button>
                    <button md-raised-button color='primary' type="submit">Enregister</button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</p-dialog>


<p-dialog header="Modification du module" [(visible)]="displayEditDialog" [responsive]="true" width="500" showEffect="fade"
    [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selected">
        <form class="form form-validate floating-label" name="form" (ngSubmit)="fe.form.valid && update();" #fe="ngForm" novalidate>
            <md-card>
                <md-card-content>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label>Section:</label></div>
                        <div class="ui-grid-col-8">
                            <p-dropdown (onChange)="onChange($event)" required name='section' [options]="sections" [(ngModel)]="selected.classe.niveau.section.id"
                                [style]="{'width':'100%'}" filter="filter">
                                <ng-template let-etab pTemplate="item">
                                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                        <div style="font-size:14px;margin-top:4px">{{etab.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label>Classe:</label></div>
                        <div class="ui-grid-col-8">
                            <p-dropdown required name='classe' [options]="classes" [(ngModel)]="selected.classe.id" [style]="{'width':'100%'}" filter="filter">
                                <ng-template let-etab pTemplate="item">
                                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                        <div style="font-size:14px;margin-top:4px">{{etab.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label>Année académique:</label></div>
                        <div class="ui-grid-col-8">
                            <p-dropdown required name='annee' [options]="annees" [(ngModel)]="selected.annee.id" [style]="{'width':'100%'}" filter="filter">
                                <ng-template let-etab pTemplate="item">
                                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                        <div style="font-size:14px;margin-top:4px">{{etab.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

               
                    <md-input-container style="width:100%">
                        <input type="number" mdInput placeholder="Coefficient" name="credit" [(ngModel)]="selected.credit" required>
                        <md-error>Le coefficient est obligatoire</md-error>
                    </md-input-container>

                    <md-input-container style="width:100%">
                        <input mdInput placeholder="Code" name="code" [(ngModel)]="selected.code" required>
                        <md-error>Le code est obligatoire</md-error>
                        <md-hint align="end">le code du module, ex: EN 120</md-hint>
                    </md-input-container>

                </md-card-content>
                <md-card-actions>
                    <button md-raised-button (click)="cancel()">Annuler</button>
                    <button md-raised-button color='primary' type="submit">Modifier</button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</p-dialog>

<p-dialog header="Détails sur un module" [(visible)]="displayDetailDialog" [responsive]="true" width="500" showEffect="fade"
    [modal]="true">
    <div *ngIf="selected.classe.niveau.section">

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>Coefficient:</label></div>
            <div class="ui-grid-col-8"><label>{{selected.credit}}</label></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>Code:</label></div>
            <div class="ui-grid-col-8"><label>{{selected.code}}</label></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>Année académique:</label></div>
            <div class="ui-grid-col-8"><label>{{selected.annee.libele}}</label></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>Section:</label></div>
            <div class="ui-grid-col-8"><label>{{selected.classe.niveau.section.libele}}</label></div>
        </div>
        <div class="ui-grid-row" *ngIf="selected.classe.niveau">
            <div class="ui-grid-col-4"><label>Classe:</label></div>
            <div class="ui-grid-col-8"><label>{{selected.classe.niveau.libele}} {{selected.classe.serie}}</label></div>
        </div>
        <div class="ui-grid-row" *ngIf="selected.parent">
            <div class="ui-grid-col-4"><label>Section:</label></div>
            <div class="ui-grid-col-8"><label>{{selected.classe.niveau.section.libele}}</label></div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)=" close()" label="Fermer"></button>
            </div>
        </p-footer>
    </div>
</p-dialog>

